<div class="user-show-container">
  <div class="user-show-header">
    <div class="user-show-image">
      <%= image_tag("catboss.png", height: '150px', width: '100%', :style => "border-radius: 10px") %>
    </div>
    <div class="user-show-description">
      <h2 class="user-show-name"><%= @user.name %></h2>          
       <p>Number of posts : 
       <%if @user.posts_counter === nil%>
        <%=0%>
        <%else%>
        <%=@user.posts_counter%>
      <%end  %></p>
    </div>
  </div>
  <div class="user-info-container">
    <div class="user-bio">
      <h2 class="bio-header">Biography</h2>
      <p class="bio-desc"><%= @user.bio %></p>
    </div>
    <ul class="user-posts-lists">
      <% @user.recent_three_posts.each do |userpost|%>
        <li>
          <h2> Post: <%= userpost.title%></h2>
          <p><%= userpost.text %></p>
          <div class="user-posts-lists-c-l">
            <p>Comment(s): <%= userpost.comments_counter%></p>
            <p>Likes(s): <%= userpost.likes_counter%></p>
          </div>
        </li>
      <% end %>
    </div>
    <div class="see-posts-button">
       <%= link_to "See all posts", user_posts_path(@user), {:class => "button-class"} %>
    </div>
  </div>
</div>