<div class="posts-index-container">
    <div class="posts-index-user-container">
        <div class="posts-index-user-image">
            <%= image_tag( "catboss.png", height: '150px', width: '100%', :style => "border-radius: 10px") %>
        </div>
        <div class="posts-index-user-description">
            <h2> <%= @user.name %> </h2>
            <p class="posts-index-user-posts">Number of Posts: <%= @user.posts_counter %></p>
        </div>
    </div>
    <% @posts.each do |post| %>
        <div class="posts-index-posts-container">
            
            <h2> <%= link_to "#{post.title}", user_post_path(@user.id, post.id), class:"header-link" %>  </h2>
            <p> <%= post.text %> </p>
            <div class="posts-index-posts-c-l">
                <p>Comment(s): <%= post.comments_counter%></p>
                <p>Likes(s): <%= post.likes_counter%></p>
            </div>
        </div>
        <div class="posts-index-comments-container">
            <% post.recent_comments.each do |comment| %>
                <p><%= comment.user.name %>: <%= comment.text %></p>
            <% end %>
        </div>
    <% end %>
        <div class="see-posts-button">
           <button class="button-class">Pagination</button>
        </div>
</div>