<div class="posts-show-container">
  <div class="posts-show-post-container">
    <div class="posts-show-description">
        <h3> <%= @post.title %> by <%= @user.name %> </h3>
        <div class="posts-show-c-l">
          <p>Comment(s): <%= @post.comments_counter%></p>
          <p>Likes(s): <%= @post.likes_counter%></p>
        </div>
    </div>
    <div class="posts-show-post">
      <%= @post.text %>
    </div>
  </div>
  <div class="posts-show-comments">
    <% @comments.each do |comment| %>
      <p><%= comment.user.name %>: <%= comment.text %></p>
    <% end %>
  </div>
</div>