<div class="posts-show-container">
  <div class="posts-show-post-container">
    <div class="posts-show-description">
        <h3> <%= @post.title %> by <%= @user.name %> </h3>
        <div class="posts-show-c-l">
          <p>Comment(s): <%= @post.comments_counter%></p>
          <p>Likes(s): <%= @post.likes_counter%></p>
        </div>
    </div>
    <div class="posts-show-post">
      <p><%= @post.text %></p>
    </div>
    <div class="like-button-area">
      <%= form_with url: "/posts/#{@post.id}/likes", scope: :like do |form| %>
        <%= form.submit "Like ", class: "like-button button-class"%>
      <% end %>
    </div>
  </div>
  <div class="posts-show-comments">
    <% @comments.each do |comment| %>
      <p><%= comment.user.name %>: <%= comment.text %></p>
      <% if can? :destroy, comment %>
        <%= button_to 'Delete Comment', "/posts/:post_id/comments/#{params[:id]}", method: :delete, params: { comment_id: comment.id}, class: "button-class" %>
      <%end%>
    <% end %>
  </div>
  <div>
    <%= render partial: "create_comments", local: { post: @post } %>
  </div>
</div>